.jumbotron {
    font-family: 'Open Sans', 'sans-serif';
    color: white;
    border-radius: 0%;
    border-bottom: 10px solid black;

}

#city {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    border-radius: 0%;
    
}

.col-md-9 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 75x;
    margin-right: 80px;
    background-color: lightgray;
    margin-left: 80px;

}

.submitBtn {
    background-color: #8c39eb;
    color: white;
    border-left: 1px solid black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
}

.submitBtn i:hover {
    transition: all .2s ease-in-out;

}

.indicator{
    text-align: center;
    background-color:lightgray;
   

}